/* Enter your custom styles here */
.mainFuncItem{
    text-align: center;
    font-size: 10px;
}

.mainFuncItemOutter{
    align-items: center;
}

.mainFuncContainer{
    padding: 10px 0;
}

.orderTitle{
    font-size: 14px;
}
.orderDate, .orderCurrency{
    font-size: 9px;
    color:grey;
}

.orderCurrency {
    margin-left:5px;
}

.bButton>span.sapMBtnInner{
    background-color: transparent;
    border: none;
}

.bButton>span.sapMBtnInner:hover{
    background-color: transparent;
    border: none;
}

#application-mobiledemo-display-component---pageContaner--pageContaner{
    width:100%;
}

#application-mobiledemo-display-component---pageContaner--pageContaner-Fixed{
    background-color: white;
    border-top: 1px solid #dadada;
}