/* Enter your custom styles here */
.mainFuncItem{
    text-align: center;
    font-size: 10px;
}

.mainFuncItemOutter{
    align-items: center;
}

.mainFuncContainer{
    padding: 10px 0;
}

.orderTitle{
    font-size: 14px;
}
.orderDate, .orderCurrency{
    font-size: 9px;
    color:grey;
}

.orderCurrency {
    margin-left:5px;
}

.bButton{
    background-color: transparent;
}

#application-mobiledemo-display-component---pageContaner1--pageContaner1{
    width:100%;
}